@model CategoryCreateVM

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Category Create</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Name</label>
                    <input asp-for="Name" type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <button class="btn btn-primary mr-2">Submit</button>
                <a class="btn btn-light" asp-action="Index">Back</a>
            </form>
        </div>
    </div>
</div>